body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  background: #f5f5f7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
}

.left {
  width: 55%;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.left h3 {
  font-size: 18px;
  margin-bottom: 25px;
}

.book-card {
  background: #fafafa;
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.book-card strong {
  font-size: 18px;
}

.actions {
  margin-top: 10px;
}

.edit-btn {
  background: #f4ce45;
  border: none;
  padding: 6px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
}

.delete-btn {
  background: #e4e4e4;
  border: none;
  padding: 6px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.right {
  width: 35%;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.cover-preview {
  width: 100%;
  height: 250px;
  background: #e6e6e6;
  border-radius: 6px;
  margin-bottom: 20px;
}

.right label {
  font-size: 14px;
  display: block;
  margin: 10px 0 5px;
}

.right input[type="text"],
.right input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  background: #fff;
}

.upload-btn {
  width: 100%;
  padding: 12px;
  background: #f4ce45;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.big-delete {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #e4e4e4;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.edit-btn:hover,
.upload-btn:hover {
  background: #e9c63e;
}

.delete-btn:hover,
.big-delete:hover {
  background: #dcdcdc;
}

.img-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.img-popup img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

#closePopup {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000;
}
