body {
  background: #ffffff;
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.search-bar input {
  width: 70%;
  display: block;
  margin: 0 auto 40px auto;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.library-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.book-card {
  width: 300px;
  background: #f6dc72;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.book-cover {
  width: 160px;
  height: 240px;
  object-fit: cover;
  margin-bottom: 15px;
}

.book-title {
  font-size: 20px;
  margin: 10px 0 5px;
}

.book-author {
  color: #444;
  margin-bottom: 18px;
}

.download-btn {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: inline-block;
}
.download {
  height: 0.5rem;
}
