.fa {
  color: #f6d965;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  position: relative;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo .fa-circle {
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  border-radius: 10px;
  width: 50%;
  height: 70%;
}
.close-btn {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.close-btn:hover {
  color: #000;
}
header.navbar .back-btn {
  padding: 8px 1rem;
  background-color: #e5e5e5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.back-btn:hover {
  background-color: #d4d4d4 !important;
}
