.container {
  text-align: center;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2.7rem;
}

.form-box {
  width: 30rem;
  background-color: #f3f3f3;
  padding: 40px 60px;
  border-radius: 20px;
  display: inline-block;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

label {
    margin-top: 1rem;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

input {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0.8rem;
  background-color: #fafcf9;
  font-size: 1rem;
}
.custom-btn {
  background-color: #f5d74c;
  border: none;
  padding: 0.8rem 2rem ; 
  font-size: 1.1rem;
  margin : 2rem 2rem 2rem ; 
  cursor: pointer;
  border-radius: 4px;
  font-family: "Times New Roman", serif;
  font-weight: 500;
}

.custom-btn:hover {
  background-color: #f0cc3c;
}
